<hr>
Log In
<br>
<% if flash[:login_err] %>
  <div class="notice"><%= flash[:login_err] %></div>
<% end %>
<%= form_tag login_url, method: :post do%>
  <p><label>User Name:</label><%= text_field_tag 'user_name' %></p>
  <p><label>Password:</label><%= password_field_tag 'pass_word' %></p>
  <p><%= submit_tag 'Login' %>
<% end %>

<hr>
New User Sign Up
<br>
<% if flash[:signup_err] %>
  <div class="notice"><%= flash[:signup_err] %></div>
<% end %>
<%= form_tag new_user_url, method: :post do %>
  <p><label>User Name:</label><%= text_field_tag 'user_name' %></p>
  <p><label>Password:</label><%= password_field_tag 'pass_word' %></p>
  <p><label>Comfirm Password:</label><%= password_field_tag 'confirm_pw' %></p>
  <p><label>Email:</label><%= text_field_tag 'email_add' %></p>
  User Type:
  <br>
  <%= radio_button_tag 'user_type', 'reader' %> reader
  <br>
  <%= radio_button_tag 'user_type', 'reporter' %> reporter
  <br>
  <%= radio_button_tag 'user_type', 'admin' %> admin
  <br>
  preference:<%= text_field_tag 'preference' %>
  <br>
  <p><%= submit_tag 'Sign up' %></p>
<% end %>
