<hr>
Welcome, <%= @current_user.user_name %>
<%= link_to 'Home', reports_url%>
<% if @current_user.user_type == 'reporter' || @current_user.user_type == 'admin' %>
  <%= link_to 'Post', new_report_url %>
<% end %>
<%= link_to 'Logout', logout_url, :method => :delete %>

<hr>
<h2><%= @report_type_prompt %></h2>
<% if not @highlight_report_list.nil? %>
  <% @highlight_report_list.each do |report| %>
    <h3>
      <%= link_to report.title, report_url(report.id) %>
      <% if report.user_ID == @current_user.id || @current_user.user_type == 'admin' %>
        <%= link_to '[edit]', edit_report_url(report.id)%>
        <%= link_to '[delete]', report_url(report.id), :method => :delete %>
      <% end %>
    </h3>
  <% end %>
<% end %>

<hr>
<h2>Latest News</h2>
<% @latest_report_list.each do |report| %>
  <h3>
    <%= link_to report.title, report_url(report.id) %>
    <% if report.user_ID == @current_user.id || @current_user.user_type == 'admin' %>
      <%= link_to '[edit]', edit_report_url(report.id) %>
      <%= link_to '[delete]', report_url(report.id), :method => :delete %>
    <% end %>
  </h3>
<% end %>

