<hr>
Welcome, <%= @current_user.user_name %>
<%= link_to 'Home', reports_url%>
<% if @current_user.user_type == 'reporter' || @current_user.user_type == 'admin' %>
  <%= link_to 'Post', new_report_url %>
<% end %>
<%= link_to 'Logout', logout_url, :method => :delete %>

<hr>
<h2>Report</h2>
<h3><%= @report.title %></h3>
<h3><%= @author.user_name %></h3>
<h3><%= @report.posted_date%></h3>
<%= @report.content %>

<hr>
<h2>Tag</h2>
<% @tag_list.each do |tag| %>
  <%= tag.tag_name %><br>
<% end %>
